* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.top {
  background-color:#A2424E;
  position: relative;
  width: 100%;
}

.admin {
  position: absolute;
  right: 18px;
}

.admin p {
  color: #C18D41;
  display: inline;
}

.profile-icon {
  width: 15px;
  position: relative;
  top: 9px;
  margin: 8px 7px;
}

.down-arrow {
  width: 15px;
  position: relative;
  top: 9px;
  margin: 8px 7px;
}

.top-nav {
  position: relative;
  top: 110px;
  margin-bottom: 10px;
  left: -30px;
}

li {
  display: inline;
  color: #C18D41;
  font-size: 1.1em;
  margin: 0 5px;
}

.nav-icon {
  width: 15px;
  margin: 0 5px;
}

.logo {
  position: relative;
  right: -1260px;
  width: 100px;
  margin-top: 15px;
}

.logo-container {
  position: relative;
}

main {
  color: #CCCDCE;
  background-color: #777C80;
  padding-left: 1%;
}

main h1 {
  padding: 25px 0;
}

.card-container {
  display: flex;
  flex-flow: wrap;
}

.card {
  width: 325px;
  background-color: #CCCDCE;
  border: 2px solid #C18D41;
  height: 500px;
  position: relative;
  margin: 10px;
}

.hat-icon {
  width: 50px;
  position: absolute;
  left: 14px;
  top: 10px;
}

.harry {
  height: 40%;
  background-image: url(images/harry-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.points {
  position: absolute;
  font-size: 1.1em;
  right: 16px;
  top: 5px;
}

.number {
  position: absolute;
  right: 25px;
  margin-top: 20px;
  font-size: 2em;
}

.bottom-of-card {
  padding: 5%;
  color: #424B52;
}

.card p {
  font-size: .9em;
}

.url {
  margin: 25px 0;
  background-color: #c18d419c;
  padding: 10px;
}

.year-count {
  margin-top: 20px;
}

.year-count h4 {
  font-size: 1.1em;
}

.year {
  font-size: 2em;
  color:#A2424E;
}

.hermione {
  height: 40%;
  background-image: url(images/hermione-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.ron {
  height: 40%;
  background-image: url(images/ron-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.ginny {
  height: 40%;
  background-image: url(images/ginny-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.fred {
  height: 40%;
  background-image: url(images/fred-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.george {
  height: 40%;
  background-image: url(images/fred-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.neville {
  height: 40%;
  background-image: url(images/neville-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

.seamus {
  height: 40%;
  background-image: url(images/seamus-cat.jpg);
  background-size: cover;
  color: #A2424E;
}

@media screen and (min-width: 1815px) {
  .card {
    width: 410px;
    height: 550px;
  }

  .logo {
    right: -1750px;
  }
}

@media screen and (min-width: 1700px) {
  .card {
    width: 400px;
    height: 550px;
  }
}

@media screen and (max-width: 1640px) {
  .card {
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width: 1310px) {
  .card {
    width: 275px;
    height: 550px;
  }

  .card p {
    font-size: .7em;
  }

  .logo {
    right: -1120px;
  }
}

@media screen and (max-width: 1210px) {
  .card {
    width: 550px;
    height: 750px;
  }
  
  h3 {
    font-size: 2em;
  }

  .url p {
    font-size: 1.5em;
  }
  
  .logo {
    right: -600px;
  }
}


